  <div class="container" style="padding-top:40px"  ng-controller="TitlesCtrl">
    <div class="input-group" style="margin-bottom: 15px">
      <div class="input-group-btn">
        <button class='btn btn-primary' ng-click="resetList()">RESET</button>
      </div>
      <input class="form-control" ng-model="search">
    </div>

    <ul class="list-group" style="height: 200px; overflow-y: auto" lazy-load>
      <li class="list-group-item" ng-repeat="title in titles | filter: {'label': search}"> {{ title.label }}</li>
    </ul>
  </div>
