<form>
  <input type="text" ng-model="search">
</form>

<div class="col-sm-12 sidenav" ng-controller="TitlesCtrl">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-md-8">Name</th>
        <th class="col-md-1">Dauer</th>
        <th class="col-md-3">Künstler</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="title in titles | filter:search">
        <td scope="row">{{title.label}}</td>
        <td>{{title.duration}}</td>
        <td>--</td>
      </tr>
    </tbody>
  </table>
</div>